/* Fonts */
@font-face {
    font-family: 'SFUFutura';
    src:url('../fonts/SFUFutura/SFUFutura.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/SFUFutura/SFUFutura.woff') format('woff'), 
        url('../fonts/SFUFutura/SFUFutura.ttf') format('truetype'), 
        url('../fonts/SFUFutura/SFUFutura.svg#SFUFutura') format('svg');

    font-weight: normal;
    font-style: normal;
}