.main__partner {
    @include flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 40px percentage(1/12);
    @include mediaMaxWidth(768px) {
        padding: 30px 20px;
    }
}

.partner__item {
    @include flex;
    width: calc((100% - 40px) / 2);
    margin-right: 40px;
    margin-bottom: 40px;
    border: 1px solid #E9ECF0;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    @include mediaMaxWidth(768px) {
        width: calc((100% - 20px) / 2);
        margin-right: 20px;
        margin-bottom: 20px;
    }
    @include mediaMaxWidth(460px) {
        width: 100%;
        margin-right: 0;
    }
    &:nth-child(2n) {
        margin-right: 0;
    }
}

.partner__logo {
    @include flex;
    @include alignCenter;
    @include justifyCenter;
    width: 50%;
    @include mediaMaxWidth(768px) {
        width: 100%;
        margin-right: 0;
        padding: 30px 20px;
    }
    img {
        max-width: 70%;
    }
}

.partner__textDetails {
    min-height: 178px;
    width: 50%;
    padding: 26px 28px;
    background-color: rgba(#F6F7FF, 0.65);
    @include mediaMaxWidth(768px) {
        width: 100%;
        margin-right: 0;
        min-height: 0;
    }
    .line1 {
        opacity: 0.8;
        color: #48505A;
        font-size: 13px;
        font-weight: 500;
        line-height: 22px;
        text-align: right;
        @include mediaMaxWidth(768px) {
            text-align: center !important;
            margin-bottom: 15px;
        }
    }
    .line2 {
        height: 80px;
        overflow: hidden;
        opacity: 0.8;
        color: #4B3C50;
        font-size: 28px;
        font-weight: 300;
        line-height: 35px;
        text-align: right;
        @include mediaMaxWidth(768px) {
            text-align: center !important;
            height: auto;
            margin-bottom: 25px;
        }
    }
    .viewmore {
        opacity: 0.8;
        color: #824198;
        font-size: 13px;
        font-weight: bold;
        line-height: 15px;
        text-align: right;
        @include mediaMaxWidth(768px) {
            text-align: center !important;
            margin-bottom: 15px;
        }
        &:hover {
            color: #824198
        }
    }
}

.main__partner__details {
    position: relative;
    margin-top: -35px;
    overflow: hidden;
    padding: 0 percentage(1/12) 40px;
    z-index: 10;
    @include mediaMaxWidth(768px) {
        margin-top: 0;
        padding: 20px;
    }
    @include mediaMaxWidth(570px) {
        padding: 9px 20px;
    }
}

.main__partner__details__content {
    @include mediaMinWidth(769px) {
        padding-right: 30px;
    }
}

.partner__details__slide {
    margin-bottom: 33px;
    @include mediaMaxWidth(768px) {
        margin-bottom: 20px;
    }
    img {
        display: block;
        width: 100%;
    }
}

.partner__chunk {
    height: auto;
}

.partner__chunk .intr__loyalty-cards--leftIfm {
    padding: 0;
}

.partner__chunk .intr__loyalty-cards--right {
    margin-top: 11px;
    img {
        display: block;
    }
}

.partner__chunk .fm-hdsd-firstSignIn-text {
    padding-right: 72px;
}

.partner__details__head {
    @include flex;
    margin-bottom: 35px;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    @include mediaMaxWidth(768px) {
        margin-bottom: 20px;
    }
    @include mediaMaxWidth(570px) {
        display: block;
    }
}

.partner__details__logo {
    width: 160px;
    height: 160px;
    background-color: #fff;
    border: 1px solid #E9ECF0;
    @include flex;
    @include alignCenter;
    @include justifyCenter;
    @include mediaMaxWidth(570px) {
        margin: 25px auto;
    }
    img {
        display: block;
        margin: 0 auto;
        width: 92%;
    }
}

.partner__details__sabo {
    width: calc(100% - 160px);
    padding-left: 30px;
    @include mediaMaxWidth(570px) {
        width: 100%;
        padding-left: 0;
    }
    .btn-back {
        display: block;
        color: rgba(233, 236, 240, 0.8);
        margin-top: 10px;
        font-size: 14px;
        i {
            margin-right: 5px;
        }
        @include mediaMaxWidth(768px) {
            color: #48505A;
        }
        @include mediaMaxWidth(570px) {
            text-align: center;
        }
    }
    .title {
        margin-top: 32px;
        margin-bottom: 15px;
        color: #4B3C50;
        font-size: 24px;
        font-weight: 300;
        line-height: 28px;
        @include mediaMaxWidth(570px) {
            margin-top: 42px;
            line-height: 34px;
        }
    }
    .excerpt {
        opacity: 0.8;
        color: #48505A;
        font-size: 13px;
        line-height: 22px;
    }
}

.partner__sidebar {
    @include mediaMaxWidth(768px) {
        @include flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .item {
        @include flex;
        @include alignCenter;
        @include justifyCenter;
        margin-bottom: 25px;
        border: 1px solid #E9ECF0;
        min-height: 115px;

        @include mediaMaxWidth(768px) {
            @include flex;
            width: calc((100% - 20px) / 2);
            margin-right: 20px;
            margin-bottom: 20px;            

            &:nth-child(2n + 1) {
                margin-right: 0;
            }
        }
        @include mediaMaxWidth(570px) {
            width: calc((100% - 20px) / 2);
            margin-right: 20px;
            margin-bottom: 20px;
        }
        > * {
            max-width: percentage(154/228);
        }
    }
}
.partner__sidebar__title {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 16px;
    @include mediaMaxWidth(768px) {
        margin-top: 0;
    }

    color: #4B3C50;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    i {
        margin-right: 5px;
    }
}