.ve-vpt-main-content {
    padding-top: 30px;
    padding-bottom: 30px;
}

.ve-vpt-sidebar {
    padding-top: 12px;
}

.ve-vpt-sidebar__icon {
    float: left;
    color: #4B3C50;
    font-size: 12px;
    line-height: 14px;
}

.ve-vpt-sidebar__label {
    padding-left: 7px;
    overflow: hidden;
    color: #4B3C50;
    font-size: 13px;
    line-height: 15px;
}

.ve-vpt-sidebar__item {
    display: block;
    overflow: hidden;
    margin-bottom: 26px;
    &.is--active .ve-vpt-sidebar__label {
        font-weight: 700;
    }
}

.ve-vpt-thong-tin--center {
    margin-right: 30px;
    padding: 35px 30px;
    @include mediaMaxWidth(768px) {
        padding: 0;
        margin-right: 0;
        margin-bottom: 30px;
        background-color: transparent;
        .ve-vpt-chunk:nth-child(1) {
            margin-bottom: 30px;
            background-color: #fff;
            padding: 30px 20px;
            text-align: center;
        }
    }
}

.ve-vpt-point__label {
    margin-bottom: 16px;
    opacity: 0.75;
    color: #4B3C50;
    font-size: 13px;
    font-weight: bold;
    line-height: 15px;
    text-transform: uppercase;
}

.ve-vpt-point-btn {
    @include mediaMaxWidth(768px) {
        float: none;
    }
}

.ve-vpt-table {
    margin-top: 45px;
    margin-bottom: 30px;
    width: 100%;
    border-top: 1px solid #F5F9FC;
    @include mediaMaxWidth(768px) {
        margin-top: 25px;
    }
    tr td {
        font-size: 14px;
        font-weight: bold;

        &:nth-child(2),
        &:nth-child(3) {
            text-align: right;
        }
        &:nth-child(4) {
            text-align: right;
            span {
                font-weight: normal;
            }
        }
    }
    tr:first-child td {
        padding: 14px 18px;
        color: #63676E;
        font-size: 13px;
        line-height: 15px;
        @include mediaMaxWidth(570px) {
            display: block;
            background-color: #fff;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
    tr:nth-child(n + 2) {
        background-color: #F9F7FA;
        border-bottom: 1px solid #fff;
        @include mediaMaxWidth(570px) {
            border-bottom: none;
        }
        > td {
            padding: 14px 18px;
            color: #4B3C50;
            font-weight: bold;
            line-height: 18px;
            @include mediaMaxWidth(570px) {
                padding-bottom: 0;
            }
            &:nth-child(2),
            &:nth-child(3) {
                text-align: right;
                padding-right: 25px;
            }
        }
    }
    @include mediaMaxWidth(570px) {
        display: block;
        tr:first-child td:nth-child(2),
        tr:first-child td:nth-child(3),
        tr:first-child td:nth-child(4) {
            display: none;
        }
        tbody,
        tr,
        tr:nth-child(n + 2) td:nth-child(1),
        tr:nth-child(n + 2) td:nth-child(4) {
            display: block;
        }
        tr:nth-child(n + 2) td:nth-child(2),
        tr:nth-child(n + 2) td:nth-child(3) {
            display: none;
        }
        tr:nth-child(n + 2) td:nth-child(4) {
            position: relative;
            padding-bottom: 21px;
            &:before {
                content: "";
                position: absolute;
                left: 15px;
                right: 15px;
                bottom: 5px;
                border-top: 1px solid #e2dfdf;
            }
            font-size: 12px;
            font-weight: 300;
            text-align: left;
        }
        tr:last-child td:nth-child(4):before {
            display: none;
        }
    }
}

.ve-vpt-point {
    @include mediaMaxWidth(768px) {
        width: 100%;
        float: none;
    }
    .item {
        display: inline-block;
        margin-right: 40px;
        @include mediaMaxWidth(768px) {
            display: block;
            margin-right: 0;
            margin-bottom: 20px;
        }
    }
    .c_number {
        color: #F26E21;
        font-size: 36px;
        font-weight: 300;
        line-height: 42px;
    }
    .c_label {
        color: #646669;
        font-size: 13px;
        line-height: 15px;
    }
}

.ve-vpt-table__label--mobile {
    font-weight: 300;
}

.input--sty1 {
    display: block;
    width: 100%;
    border: none;
    outline: none !important;
    background-color: transparent;
    border-bottom: 1px solid #4B3C50;
    color: #F26E21;
    font-size: 36px;
    font-weight: 300;
    line-height: 42px;
}

.input--sty2 {
    display: block;
    width: 100%;
    border: none;
    outline: none !important;
    opacity: 0.5;
    background-color: transparent;
    border-bottom: 1px solid rgba(#4B3C50, 1);
    @include transition(all .3s ease);

    color: rgba(#4B3C50, 0.5);
    font-size: 14px;
    line-height: 42px;
    &:focus {
        opacity: 1;
    }
}

.tang-diem--stp2 {
    width: 280px;
    margin: 0 auto;
    .c-label {
        margin-bottom: 13px;
        opacity: 0.73;
        color: #4B3C50;
        font-size: 13px;
        font-weight: bold;
        line-height: 15px;
        text-transform: uppercase;
    }
    .c-excerpt {

        color: #63676E;
        font-size: 13px;
        font-style: italic;
        line-height: 20px;
    }
    .c-form-radio-wrap {
        margin: 35px 0;
        overflow: hidden;
        .form-radio-group {
            width: 50%;
            float: left;
        }
    }
}

.tang-diem--stp4 {
    padding: 37px 0;
    font-size: 13px;
    line-height: 20px;
}